<h2>Bulk Discounts for <%= @merchant.name %></h2>
<p><%= link_to 'New Discount', new_merchant_bulk_discount_path(@merchant), class: 'link_1', style: 'pull-right' %></p>

<ul>
  <% @bulk_discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      <li><%= link_to "#{discount.percent}% off  #{discount.quantity} items", merchant_bulk_discount_path(@merchant, discount) %></li>
      <%= link_to "delete", merchant_bulk_discount_path(@merchant, discount), method: :delete %><br><br>
    </section>
  <% end %>
</ul>

<h3>Upcoming Holidays</h3>
<% @holidays.each do |holiday| %>
  <%= "#{holiday.name} coming up on #{holiday.date}" %><br>
<% end %><br><br>

<footer>
  <%= link_to "Back to Dashboard", merchant_dashboard_index_path(@merchant) %>
</footer>
