<h2>Bulk Discount ID <%= @bulk_discount.id %></h2>

<p>Percentage Discount is <%= @bulk_discount.percent %></p>
<p>Quantity Threshold is <%= @bulk_discount.quantity %></p>

<%= link_to "edit", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %>

<footer>
  <%= link_to "Back to Dashboard", merchant_dashboard_index_path(@merchant) %>
</footer>
